.container{
    border: solid 1px black;
    max-height: fit-content;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
}

.userData{
    border: solid 1px black;
    height: 80%;
    width: 80%;
    display: flex;
}

.right-container{
    display: flex;
    flex-direction: column;
}